// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-size-16: 16px;
$font-size-62: 62px;

//Color
$color-base: #FFCA08;
$color-primary: #1D1819;
$color-secondary: #444444;
$color-orange: #FF8B00;